/* Space out content a bit */
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.content,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Custom page header */
.header {
    padding-bottom: .1rem;
    border-bottom: .08rem solid #e5e5e5;
}

.content {
    margin: 3rem 0;
}

/* Custom page footer */
.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .08rem solid #e5e5e5;
}

.content {

}

/* Customize container */
@media (min-width: 48em) {
    .container {
        max-width: 991px;
    }
}
.container-narrow > hr {
    margin: 2rem 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .content,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 2rem;
    }
}

.card > .list-group.list-group-flush > .list-group-item:first-child {
    border-top: 0;
}

.card > .list-group.list-group-flush > .list-group-item:last-child {
    border-bottom: 0;
}

.btn > i {
    margin-left:6px;
    margin-right:-6px;
}

.card-header .tag:not(:last-child) {
    margin-left:5px;
}
